cocos2d/
proj.android/build.xml
proj.android/build-cfg.json
proj.android/ant.properties
proj.android/AndroidManifest.xml
proj.android/.settings/org.eclipse.ltk.core.refactoring.prefs
proj.android/.settings/org.eclipse.cdt.core.prefs
proj.android/.settings/org.eclipse.cdt.codan.core.prefs
proj.android/.project
proj.android/.externalToolBuilders/org.eclipse.cdt.managedbuilder.core.genmakebuilder.launch
proj.android/.cproject
proj.android/.classpath
proj.android-studio/settings.gradle
proj.android-studio/gradlew.bat
proj.android-studio/gradlew
proj.android-studio/gradle/wrapper/gradle-wrapper.properties
proj.android-studio/gradle/wrapper/gradle-wrapper.jar
proj.android-studio/app/.gitignore
proj.android-studio/.gitignore
proj.win10/App/pch.h
proj.win10/App/pch.cpp
proj.win10/App/Package.appxmanifest
proj.win10/App/Cosos2dx-shader2_TemporaryKey.pfx
proj.win10/App/Cosos2dx-shader2.vcxproj.filters
proj.win10/App/Cosos2dx-shader2.vcxproj
proj.win10/App/Cocos2dEngine/OpenGLESPage.xaml.h
proj.win10/App/Cocos2dEngine/OpenGLESPage.xaml.cpp
proj.win10/App/Cocos2dEngine/OpenGLESPage.xaml
proj.win10/App/Cocos2dEngine/OpenGLES.h
proj.win10/App/Cocos2dEngine/OpenGLES.cpp
proj.win10/App/Cocos2dEngine/Cocos2dRenderer.h
proj.win10/App/Cocos2dEngine/Cocos2dRenderer.cpp
proj.win10/App/Assets/Wide310x150Logo.scale-200.png
proj.win10/App/Assets/StoreLogo.png
proj.win10/App/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
proj.win10/App/Assets/Square44x44Logo.scale-200.png
proj.win10/App/Assets/Square150x150Logo.scale-200.png
proj.win10/App/Assets/SplashScreen.scale-200.png
proj.win10/App/Assets/LockScreenLogo.scale-200.png
proj.win10/App/App.xaml.h
proj.win10/App/App.xaml.cpp
proj.win10/App/App.xaml
proj.tizen/tizen-manifest.xml
proj.tizen/src/main.cpp
proj.tizen/shared/res/Cosos2dx-shader2.png
proj.tizen/res/.gitkeep
proj.tizen/copy_resource.sh
proj.tizen/.tproject
proj.tizen/.project
proj.tizen/.gitignore
proj.tizen/.exportMap
proj.tizen/.cproject
proj.linux/main.cpp
proj.ios_mac/mac/main.cpp
proj.ios_mac/mac/Prefix.pch
proj.ios_mac/mac/Info.plist
proj.ios_mac/mac/Icon.icns
proj.ios_mac/ios/main.m
proj.ios_mac/ios/RootViewController.mm
proj.ios_mac/ios/RootViewController.h
proj.ios_mac/ios/Prefix.pch
proj.ios_mac/ios/Info.plist
proj.ios_mac/ios/Icon-87.png
proj.ios_mac/ios/Icon-80.png
proj.ios_mac/ios/Icon-76.png
proj.ios_mac/ios/Icon-72.png
proj.ios_mac/ios/Icon-58.png
proj.ios_mac/ios/Icon-57.png
proj.ios_mac/ios/Icon-50.png
proj.ios_mac/ios/Icon-40.png
proj.ios_mac/ios/Icon-29.png
proj.ios_mac/ios/Icon-180.png
proj.ios_mac/ios/Icon-152.png
proj.ios_mac/ios/Icon-144.png
proj.ios_mac/ios/Icon-120.png
proj.ios_mac/ios/Icon-114.png
proj.ios_mac/ios/Icon-100.png
proj.ios_mac/ios/Default@2x.png
proj.ios_mac/ios/Default.png
proj.ios_mac/ios/Default-Landscape~ipad.png
proj.ios_mac/ios/Default-736h@3x.png
proj.ios_mac/ios/Default-667h@2x.png
proj.android-studio/gradle.properties
proj.android-studio/build.gradle
proj.android-studio/build-cfg.json
proj.android-studio/app/src/org/cocos2dx/cpp/AppActivity.java
proj.android-studio/app/res/values/strings.xml
proj.android-studio/app/res/mipmap-xxhdpi/ic_launcher.png
proj.android-studio/app/res/mipmap-xhdpi/ic_launcher.png
proj.android-studio/app/res/mipmap-mdpi/ic_launcher.png
proj.android-studio/app/res/mipmap-hdpi/ic_launcher.png
proj.android-studio/app/project.properties
proj.android-studio/app/proguard-rules.pro
proj.android-studio/app/jni/hellocpp/main.cpp
proj.android-studio/app/jni/Application.mk
proj.android-studio/app/jni/Android.mk
proj.android-studio/app/build.gradle
proj.android-studio/app/AndroidManifest.xml
proj.win32/Debug.win32/libogg.dll
proj.win32/Debug.win32/libmpg123.lib
proj.win32/Debug.win32/libmpg123.dll
proj.win32/Debug.win32/libjpeg.lib
proj.win32/Debug.win32/libjpeg-2015.lib
proj.win32/Debug.win32/libiconv.lib
proj.win32/Debug.win32/libeay32.lib
proj.win32/Debug.win32/libcurl_imp.lib
proj.win32/Debug.win32/libcurl.dll
proj.win32/Debug.win32/libcocos2d.pdb
proj.win32/Debug.win32/libcocos2d.lib
proj.win32/Debug.win32/libcocos2d.exp
proj.win32/Debug.win32/libcocos2d.dll
proj.win32/Debug.win32/libchipmunk.lib
proj.win32/Debug.win32/libchipmunk-2015.lib
proj.win32/Debug.win32/libbullet.pdb
proj.win32/Debug.win32/libbullet.lib
proj.win32/Debug.win32/libbox2d.pdb
proj.win32/Debug.win32/libbox2d.lib
proj.win32/Debug.win32/libSpine.pdb
proj.win32/Debug.win32/libSpine.lib
proj.win32/Debug.win32/iconv.dll
proj.win32/Debug.win32/glfw3.lib
proj.win32/Debug.win32/glfw3-2015.lib
proj.win32/Debug.win32/glew32.lib
proj.win32/Debug.win32/glew32.dll
proj.win32/Debug.win32/game.res
proj.win32/Debug.win32/freetype.lib
proj.win32/Debug.win32/fonts/arial.ttf
proj.win32/Debug.win32/fonts/Marker Felt.ttf
proj.win32/Debug.win32/OpenAL32.lib
proj.win32/Debug.win32/OpenAL32.dll
proj.win32/Debug.win32/HelloWorldScene.obj
proj.win32/Debug.win32/HelloWorld.png
proj.win32/Debug.win32/Cosos2dx-shader2.vcxprojResolveAssemblyReference.cache
proj.win32/Debug.win32/Cosos2dx-shader2.tlog/rc.write.1.tlog
proj.win32/Debug.win32/Cosos2dx-shader2.tlog/rc.read.1.tlog
proj.win32/Debug.win32/Cosos2dx-shader2.tlog/rc.command.1.tlog
proj.win32/Debug.win32/Cosos2dx-shader2.tlog/link.write.1.tlog
proj.win32/Debug.win32/Cosos2dx-shader2.tlog/link.read.1.tlog
proj.win32/Debug.win32/Cosos2dx-shader2.tlog/link.command.1.tlog
proj.win32/Debug.win32/Cosos2dx-shader2.tlog/Cosos2dx-shader2.write.1u.tlog
proj.win32/Debug.win32/Cosos2dx-shader2.tlog/Cosos2dx-shader2.lastbuildstate
proj.win32/Debug.win32/Cosos2dx-shader2.tlog/CL.write.1.tlog
proj.win32/Debug.win32/Cosos2dx-shader2.tlog/CL.read.1.tlog
proj.win32/Debug.win32/Cosos2dx-shader2.tlog/CL.command.1.tlog
proj.win32/Debug.win32/Cosos2dx-shader2.pdb
proj.win32/Debug.win32/Cosos2dx-shader2.log
proj.win32/Debug.win32/Cosos2dx-shader2.lib
proj.win32/Debug.win32/Cosos2dx-shader2.ilk
proj.win32/Debug.win32/Cosos2dx-shader2.exp
proj.win32/Debug.win32/Cosos2dx-shader2.exe
proj.win32/Debug.win32/CloseSelected.png
proj.win32/Debug.win32/CloseNormal.png
proj.win32/Debug.win32/AppDelegate.obj
proj.win32/Cosos2dx-shader2.vcxproj.user
proj.win32/Cosos2dx-shader2.vcxproj.filters
proj.win32/Cosos2dx-shader2.vcxproj
proj.win32/Cosos2dx-shader2.sln
proj.win32/Cosos2dx-shader2.VC.db
proj.win32/.vs/Cosos2dx-shader2/v14/.suo
proj.win10/Cosos2dx-shader2.sln
proj.win10/App/resources.props
proj.ios_mac/ios/Default-568h@2x.png
proj.ios_mac/ios/AppController.mm
proj.ios_mac/ios/AppController.h
proj.ios_mac/Cosos2dx-shader2.xcodeproj/project.pbxproj
proj.android/src/org/cocos2dx/cpp/AppActivity.java
proj.android/res/values/strings.xml
proj.android/res/drawable-mdpi/icon.png
proj.android/res/drawable-ldpi/icon.png
proj.android/res/drawable-hdpi/icon.png
proj.android/project.properties
proj.android/proguard-project.txt
proj.android/jni/hellocpp/main.cpp
proj.android/jni/Application.mk
proj.android/jni/Android.mk
proj.win8.1-universal/Cosos2dx-shader2.sln
proj.win8.1-universal/App.WindowsPhone/Package.appxmanifest
proj.win8.1-universal/App.WindowsPhone/Cosos2dx-shader2.WindowsPhone.vcxproj.filters
proj.win8.1-universal/App.WindowsPhone/Cosos2dx-shader2.WindowsPhone.vcxproj
proj.win8.1-universal/App.WindowsPhone/Assets/WideLogo.scale-240.png
proj.win8.1-universal/App.WindowsPhone/Assets/StoreLogo.scale-240.png
proj.win8.1-universal/App.WindowsPhone/Assets/Square71x71Logo.scale-240.png
proj.win8.1-universal/App.WindowsPhone/Assets/SplashScreen.scale-240.png
proj.win8.1-universal/App.WindowsPhone/Assets/SmallLogo.scale-240.png
proj.win8.1-universal/App.WindowsPhone/Assets/Logo.scale-240.png
proj.win8.1-universal/App.Windows/Package.appxmanifest
proj.win8.1-universal/App.Windows/Cosos2dx-shader2.Windows_TemporaryKey.pfx
proj.win8.1-universal/App.Windows/Cosos2dx-shader2.Windows.vcxproj.filters
proj.win8.1-universal/App.Windows/Cosos2dx-shader2.Windows.vcxproj
proj.win8.1-universal/App.Windows/Assets/StoreLogo.scale-100.png
proj.win8.1-universal/App.Windows/Assets/SplashScreen.scale-100.png
proj.win8.1-universal/App.Windows/Assets/SmallLogo.scale-100.png
proj.win8.1-universal/App.Windows/Assets/Logo.scale-100.png
proj.win8.1-universal/App.Shared/pch.h
proj.win8.1-universal/App.Shared/pch.cpp
proj.win8.1-universal/App.Shared/OpenGLESPage.xaml.h
proj.win8.1-universal/App.Shared/OpenGLESPage.xaml.cpp
proj.win8.1-universal/App.Shared/OpenGLESPage.xaml
proj.win8.1-universal/App.Shared/OpenGLES.h
proj.win8.1-universal/App.Shared/OpenGLES.cpp
proj.win8.1-universal/App.Shared/Cosos2dx-shader2.Shared.vcxitems.filters
proj.win8.1-universal/App.Shared/Cosos2dx-shader2.Shared.vcxitems
proj.win8.1-universal/App.Shared/Cocos2dRenderer.h
proj.win8.1-universal/App.Shared/Cocos2dRenderer.cpp
proj.win8.1-universal/App.Shared/App.xaml.h
proj.win8.1-universal/App.Shared/App.xaml.cpp
proj.win8.1-universal/App.Shared/App.xaml
proj.win32/resource.h
proj.win32/res/game.ico
proj.win32/main.h
proj.win32/main.cpp
proj.win32/game.rc
proj.win32/build-cfg.json
proj.win32/Debug.win32/zlib1.dll
proj.win32/Debug.win32/websockets.lib
proj.win32/Debug.win32/vc140.pdb
proj.win32/Debug.win32/vc140.idb
proj.win32/Debug.win32/ssleay32.lib
proj.win32/Debug.win32/sqlite3.lib
proj.win32/Debug.win32/sqlite3.dll
proj.win32/Debug.win32/shader/myVertextShader.vert
proj.win32/Debug.win32/shader/myFragmentShader.frag
proj.win32/Debug.win32/res/.gitkeep
proj.win32/Debug.win32/main.obj
proj.win32/Debug.win32/libzlib.lib
proj.win32/Debug.win32/libwebp.lib
proj.win32/Debug.win32/libvorbisfile.lib
proj.win32/Debug.win32/libvorbisfile.dll
proj.win32/Debug.win32/libvorbis.lib
proj.win32/Debug.win32/libvorbis.dll
proj.win32/Debug.win32/libtiff.lib
proj.win32/Debug.win32/libtiff.dll
proj.win32/Debug.win32/libtiff-2015.lib
proj.win32/Debug.win32/librecast.pdb
proj.win32/Debug.win32/librecast.lib
proj.win32/Debug.win32/libpng.lib
proj.win32/Debug.win32/libpng-2015.lib
proj.win32/Debug.win32/libogg.lib
